.card-primary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: -60px;
    width: 100%;

    @media screen and (min-width: 981px) {
        flex-direction: row;
    }

    .card {
        position: relative;
        width: 100%;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        .card-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 85%; /* L'overlay occupe 80% de la largeur */
            height: 75%; /* L'overlay occupe 80% de la hauteur */
            background-color: rgba(0, 0, 0, 0.5); /* Overlay semi-transparent */
            display: flex;
            justify-content: center;
            align-items: center;

            h3 {
                color: white;
                font-size: 1.8em;
                text-align: center;
                z-index: 1; /* Assure que le titre est au-dessus de l'overlay */
            }
        }
    }
}

.card-secondary {
    position: relative; /* Permet de positionner des éléments à l'intérieur de la carte */
    width: 100%;
    padding: 20px;
    background-color: $color-background;
    box-sizing: border-box;

    span {
        position: absolute;
        top: -5px; 
        left: 0; 
        font-size: 1.7em;
        color: $color-text;
        font-weight: 600;
    }

    h3, p {
        text-align: center; /* Maintient le centrage */
    }
}