
.section-default {
    display: grid;
    @media screen and(min-width: 981px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }    
    padding: 0 40px;
    height: 100vh;

    .section__content {
        background-color: red;
        @include section__content;

    }

    .section__card {
        background-color: green;
        display: flex;
        flex-direction: row;
        align-items: center;

        @media screen and (max-width: 981px) {
            flex-direction: column;            
        }
        flex-wrap: wrap;
        gap: 30px;
        width: 100%;
    }
}

.section-primary {
    display: grid;
    gap: 30px;
    padding: 0 80px;
    margin-bottom: $spacing-extra-large;
    
    @media screen and(min-width: 981px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }
}

.section-secondary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 40px;

    .section__content {
        @include section__content;
        align-items: center;

    }

    .section__card {
        ul {
            display: flex;
            flex-direction: column;
            @media screen and (min-width: 981px) {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 20px;
            }

            li > img {
                width: 150px;
                object-fit: cover;
            }
        }
    }
}
