.main-container {
  padding: 0 40px;
  margin-bottom: 100px;

  .container {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 150px;
    grid-auto-flow: row;
    grid-template-areas:
      "section-intro"
      "section-skills"
      "section-experience";
  }
    
  .section-intro { grid-area: section-intro; }
  
  .section-skills { grid-area: section-skills; }
  
  .section-experience { grid-area: section-experience; }
}

  